{% extends "base.twig" %}
{% block main %}

<!-- Héritage de template ? Block(s) ? -->

<section>
    <h2> Si tu as un problème, prends contact avec l'un des beaux  gosses : </h2>

    <a href="https://www.facebook.com/quentin.gallopin.5">
        <figure>
            <img src="assets/img/Quentin.jpg" alt="" />
            <figcaption>Quentin Gallopin</figcaption>
            
            <div id="logo">
            <h1></h1>
            </div>
        
        </figure>
    </a> 

    <a href="https://www.facebook.com/remy.selingue">
        <figure>
            <img src="assets/img/Remy.jpg" alt="">
            <figcaption>Remy Selingue</figcaption>
            <q></q>

        </figure>
    </a> 

    
        
        
</section>

{% endblock %}